@font-face
  font-family: 'music-icon'/*自定义字体名称*/
  src: url('../fonts/music-icon.eot?2qevqt')/*自定义字体的路径*/
  src: url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),/*format为字体格式 便于浏览器识别*/
          url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
          url('../fonts/music-icon.woff?2qevqt') format('woff'),
          url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
  font-weight: normal/*是否加粗*/
  font-style: normal/*是否倾斜*/

[class^="icon-"], [class*=" icon-"]/*属性选择器*/
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music-icon' !important
  speak: none/*使用当前语言的正常发音尺度*/
  font-style: normal
  font-weight: normal
  font-variant: normal/*字体是否变型如：首字母大小*/
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased/*抗锯齿*/
  -moz-osx-font-smoothing: grayscale

.icon-ok:before/*伪元素选择器 :before 和 ::before 相同*/
  content: "\e900"

.icon-close:before
  content: "\e901"

.icon-add:before
  content: "\e902"

.icon-play-mini:before
  content: "\e903"

.icon-playlist:before
  content: "\e904"

.icon-music:before
  content: "\e905"

.icon-search:before
  content: "\e906"

.icon-clear:before
  content: "\e907"

.icon-delete:before
  content: "\e908"

.icon-favorite:before
  content: "\e909"

.icon-not-favorite:before
  content: "\e90a"

.icon-pause:before
  content: "\e90b"

.icon-play:before
  content: "\e90c"

.icon-prev:before
  content: "\e90d"

.icon-loop:before
  content: "\e90e"

.icon-sequence:before
  content: "\e90f"

.icon-random:before
  content: "\e910"

.icon-back:before
  content: "\e911"

.icon-mine:before
  content: "\e912"

.icon-next:before
  content: "\e913"

.icon-dismiss:before
  content: "\e914"

.icon-pause-mini:before
  content: "\e915"
